<div class="assignment_fields card w-75 mb-3">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :assignment_attorney %><br>
      <%= f.collection_select(:attorney_id, Attorney.all, :id, :full_name, { prompt: true }, { class: "form-control" }) %>
    </div>

    <div class="form-group form-check">
      <%= f.check_box :_destroy, class: 'form-check-input' %>
      <%= f.label :delete, class: 'form-check-label' %>
    </div>

    <%= f.hidden_field :_destroy %>
    <%= link_to_remove_fields 'Remove assignment', '.assignment_fields' %><br>
  </div>
</div>