<div class="container w-50">
  <%= form_with model: @assignment, local: true do |f| %>
    <% if @assignment.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@assignment.errors.count, "error") %>
        prohibited
          this assignment from being saved:
        </h2>
        <ul>
          <% @assignment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li> 
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :affair %><br>
      <%= f.collection_select(:affair_id, Affair.all, :id, :file_number, {prompt: true}, {class: "form-control"}) %>
    </div>

    <div class="form-group">
      <%= f.label :attorney %><br>
      <%= f.collection_select(:attorney_id, Attorney.all, :id, :full_name, {prompt: true}, {class: "form-control"}) %>
    </div>

    <div class="d-flex justify-content-end">
      <%= f.submit 'Submit', class: 'btn btn-success m-1' %>
      <%= link_to 'Back', affairs_path, class: 'btn btn-secondary m-1' %>
    </div>

  <% end %>
</div>